*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
.row{
  max-width: 1170px;
  margin: 0 auto;
  padding: 24px;
  position: relative;
}
nav{
  position: fixed;
  width: 100%;
  z-index: 999;
}
.background1{
  background-color: #2C3E50;
}
#titolo{
  font-size: 24px;
  color: white;
  float: left;
}
ul {
list-style-type: none;
}
.menu{
  font-size: 20px;
  color: white;
  float: left;
}
li{
  display: inline-block;
  padding-right: 24px;
}
.background2{
  background-color: #1ABC9C;
  padding-top: 144px;
}
.immagine{
  padding-top: 24px;
  padding-bottom: 24px;
}
.immagine img{
  height: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h1{
  font-size: 48px;
  color: white;
  text-align: center;
  padding-bottom: 24px;
}
.linee-stella{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 24px;
}
.linea1{
  border: solid white 4px;
  width: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-157%, -50%);
}
.linea2{
  border: solid white 4px;
  width: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(57%, -50%);
}
.linee-stella span{
  font-size: 48px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centratura{
  margin-bottom: 48px;
  padding-top: 24px;
  text-align: center;
  color: white;
  font-size: 24px;
}
.sottotitolo span{
  color: white;
  font-size: 24px;
  padding-right: 12px;
}
h2{
  font-size: 48px;
  color: #2c3e50;
  text-align: center;
  padding-bottom: 24px;
}
.linea3{
  border: solid #2c3e50 4px;
  width: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-157%, -50%);
}
.linea4{
  border: solid #2c3e50 4px;
  width: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(57%, -50%);
}
.linee-stella2 span{
  font-size: 48px;
  color: #2c3e50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contenitoreimg img{
  float: left;
  padding-top: 24px;
  padding-right: 24px;
}
.contenitoreimg2 img{
  float: left;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 48px;
}
.titolo2 h2{
  font-size: 48px;
  color: white;
  text-align: center;
  padding-bottom: 24px;
}
p{
  color: white;
  float: left;
  font-size: 24px;
  padding-bottom: 24px;
}
button{
  background-color: #1ABC9C;
  border: solid 3px white;
  border-radius: 5px;
}
 button span{
  padding: 24px;
}
